:root {

/*### Primary*/

	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);


/*### Neutral*/

	--dark-grayish-magenta: hsl(303, 10%, 53%);
	--light-grayish-magenta: hsl(300, 24%, 96%);

}


html {
	  box-sizing: border-box;
	  font-family: 'Spartan', sans-serif;
	  font-size: 15px;

}
	
	*, *:before, *:after {
	  box-sizing: inherit;
	}

body {
	margin: 150px;
	background-image: url(../images/bg-pattern-top-desktop.svg) , url(../images/bg-pattern-bottom-desktop.svg);
	background-repeat: no-repeat;
	background-position: 10% 0% , 100% 50%;
}


.principal {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 1fr);
	column-gap: 30px;
}

	.titulo {
		grid-column: 1 / 4;
		grid-row: 1 / 5;
		align-self: flex-start;
		height: 100%;

	}

		.titulo h2 {
			font-size: 3.5em;
			color: var(--very-dark-magenta);
			font-weight: 700;
			margin: 0;
		}

		.titulo p {
			color: var(--very-dark-magenta);
			font-size: 1.15em;
			line-height: 30px;
		}


	.rating1 {
			background-color: var(--light-grayish-magenta);
			padding: 20px;
			margin: 10px 0;
			border-radius: 10px;
			grid-column: 4 / 7;
			width: 80%;

		}

		.rating1 div {
				display: inline;
		}

		.rating1 p {
			color: var(--very-dark-magenta);
			font-size: .8em; 
			font-weight: bold;
			display: inline;
			margin: 0 20px;
		}

		

		.rating1 img {
			margin: 0 3px;
		}

	.rating2 {
			background-color: var(--light-grayish-magenta);
			padding: 20px;
			margin: 10px 0;
			border-radius: 10px;
			grid-column: 4 / 7;
			margin-left: 10%;
			width: 80%;


		}

		.rating2 div {
				display: inline;
		}

		.rating2 p {
			color: var(--very-dark-magenta);
			font-size: .8em; 
			font-weight: bold;
			display: inline;
			margin: 0 20px;
		}

		

		.rating2 img {
			margin: 0 3px;
		}

	.rating3  {
			background-color: var(--light-grayish-magenta);
			padding: 20px;
			margin: 10px 0;
			border-radius: 10px;
			grid-column: 4 / 7;
			margin-left: 20%;

		}

		.rating3  div {
				display: inline;
		}

		.rating3  p {
			color: var(--very-dark-magenta);
			font-size: .8em; 
			font-weight: bold;
			display: inline;
			margin: 0 20px;
		}

		

		.rating3 img {
			margin: 0 3px;
		}

	.box1 {
		background-color: var(--very-dark-magenta);
		border-radius: 10px;
		color: #fff;
		padding: 35px;
		grid-column: 1 / 3;
		margin-top: 30px;
		margin-bottom: 30px;
	}

		.box1 img {
			width: 45px;
			border-radius: 50%;
			
		}

		.box1 h2 {
			font-size: 10px;
			
		}

		.box1 h3 {
			font-size: 10px;
			font-weight: 400;
			filter: opacity(70%);
			color: var(--soft-pink);
		}

		.box1 p {
				font-size: 10px;
				line-height: 20px;
			}

		.name {
			display: grid;
			grid-template-columns: repeat(3, 45px);
			column-gap: 15px;

		
		}

			.name img {
				grid-row: 1 / span 2;
			}

			.name .lat {
				grid-column: 2 / 4;
			
			}


	.box2 {
		background-color: var(--very-dark-magenta);
		border-radius: 10px;
		color: #fff;
		padding: 35px;
		grid-column: 3 / 5;
		margin-top: 60px;
	}

		.box2 img {
			width: 45px;
			border-radius: 50%;
			
		}

		.box2 h2 {
			font-size: 10px;
			
		}

		.box2 h3 {
			font-size: 10px;
			font-weight: 400;
			filter: opacity(70%);
			color: var(--soft-pink);
		}

		.box2 p {
				font-size: 10px;
				line-height: 20px;
			}
	
	.box3 {
		background-color: var(--very-dark-magenta);
		border-radius: 10px;
		color: #fff;
		padding: 35px;
		grid-column: 5 / 7;
		margin-top: 90px;
		margin-bottom: -30px;
	}

		.box3 img {
			width: 45px;
			border-radius: 50%;
			
		}

		.box3 h2 {
			font-size: 10px;
			
		}

		.box3 h3 {
			font-size: 10px;
			font-weight: 400;
			filter: opacity(70%);
			color: var(--soft-pink);
		}

		.box3 p {
				font-size: 10px;
				line-height: 20px;
			}


@media all and (max-width: 450px) {

		body {
			margin: 70px 20px;
			background-image: url(../images/bg-pattern-top-mobile.svg) , url(../images/bg-pattern-bottom-mobile.svg);
			background-repeat: no-repeat;
			background-position: 0% 0% , 90% 100%;
		}

		.principal {
			display: flex;
			/*grid-template-columns: repeat(6, 1fr);
			grid-template-rows: repeat(4, 1fr);
			column-gap: 30px;*/
			flex-direction: column;	
		}

		.titulo {
			text-align: center;

		}
		.titulo h2 {
			font-size: 2.5em;

		}

		.titulo p {
			font-weight: 500;
			font-size: 0.9em;
	
		}


		.rating1, .rating2, .rating3 {
			width: 100%;
			margin: 10px 0;

		}
		.rating1 div, .rating2 div, .rating3 div  {
				display: block;
				text-align: center;
				margin: 7px;
		}

		.rating1 p, .rating2 p, .rating3 p  {
				display: block;
				text-align: center;
				margin: 7px;
				font-size: 1em;
		}

		.box1, .box2, .box3 {
			margin: 10px 0;
		}







}